fastapi
uvicorn
psycopg2-binary
pytest
pytest-asyncio
requests
sqlalchemy
passlib[bcrypt]
pydantic[email]
python-dotenv
python-telegram-bot
pandas 
APScheduler==3.10.4
python-jose[cryptography]
python-multipart
lxml